<div class="container-fluid">
  <h1>

  </h1>
  <div class="alert alert-info" role="alert">
    <strong>{{title}} <span class="badge badge-default">New</span></strong> This alert needs your attention, but it's not super important.
  </div>

  <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <button type="button" class="btn btn-primary" (click)="increment()">Increment</button>
    <button type="button" class="btn btn-primary" (click)="decrement()">Decrement</button>
    <button type="button" class="btn btn-secondary" (click)="duplicate()">Duplicate</button>
    <button type="button" class="btn btn-secondary" (click)="half()">Half value</button>
    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
  </div>
  <div class="card-footer text-muted">
    Counter: {{ count | async }}
  </div>
</div>

  <div>
    <h2>Keyboard Event instructions to use in application with KeyDown</h2>
    <ul>
      <li><u>C:</u> Reset Counter.</li>
      <li><u>Up</u> arrow: Increment</li>
      <li><u>Down</u> arrow: Decrement.</li>
      <li><u>Right</u> arrow: Duplicate</li>
      <li><u>Left</u> arrow: Divide.</li>
    </ul>
  </div>

  <div>
    <h2>Keyboard Event demo</h2>
    Start typing to see KeyboardEvent values
  </div>
  <hr />
  KeyboardEvent
  <ul>
    <li>altKey: {{altKey}}</li>
    <li>charCode: {{charCode}}</li>
    <li>code: {{code}}</li>
    <li>ctrlKey: {{ctrlKey}}</li>
    <li>keyCode: {{keyCode}}</li>
    <li>keyIdentifier: {{keyIdentifier}}</li>
    <li>metaKey: {{metaKey}}</li>
    <li>shiftKey: {{shiftKey}}</li>
    <li>timeStamp: {{timeStamp}}</li>
    <li>type: {{type}}</li>
    <li>which: {{which}}</li>
  </ul>

</div>
