<div class="container-fluid">
  <h1>
    {{title}}
  </h1>
  <p> Counter: {{ count | async }} </p>
  <button (click)="increment()">Increment</button>
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>
  <button (click)="duplicate()">Duplicate</button>
  <button (click)="half()">Half value</button>
  <div>
    <h2>Keyboard Event instructions to use in application with KeyDown</h2>
    <ul>
      <li><u>C:</u> Reset Counter.</li>
      <li><u>Up</u> arrow: Increment</li>
      <li><u>Down</u> arrow: Decrement.</li>
      <li><u>Right</u> arrow: Duplicate</li>
      <li><u>Left</u> arrow: Divide.</li>
    </ul>
  </div>

  <div>
    <h2>Keyboard Event demo</h2>
    Start typing to see KeyboardEvent values
  </div>
  <hr />
  KeyboardEvent
  <ul>
    <li>altKey: {{altKey}}</li>
    <li>charCode: {{charCode}}</li>
    <li>code: {{code}}</li>
    <li>ctrlKey: {{ctrlKey}}</li>
    <li>keyCode: {{keyCode}}</li>
    <li>keyIdentifier: {{keyIdentifier}}</li>
    <li>metaKey: {{metaKey}}</li>
    <li>shiftKey: {{shiftKey}}</li>
    <li>timeStamp: {{timeStamp}}</li>
    <li>type: {{type}}</li>
    <li>which: {{which}}</li>
  </ul>

</div>
