<div class="card text-center">
  <div class="card-header">
    <h4 class="card-title">Keyboard Events</h4>
  </div>
  <div class="card-block">

    <p class="card-text">Instructions to use in application with KeyDown.</p>
    
    <p><u>C:</u> Reset Counter.</p>
    <p><u>Up</u> arrow: Increment</p>
    <p><u>Down</u> arrow: Decrement.</p>
    <p><u>Right</u> arrow: Duplicate</p>
    <p><u>Left</u> arrow: Divide.</p>
    
  </div>
</div>
<div>
  <table class="table table-sm table-inverse">
    <thead>
      <tr>
        <th>KEY</th>
        <th>RESULT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>altKey</td>
        <td>{{altKey}}</td>
      </tr>
       <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
       <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
       <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
       <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
       <tr>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>
</div>

  <div>
    <h2></h2>

  </div>

  <div>
    <h2>Keyboard Event demo</h2>
    Start typing to see KeyboardEvent values
  </div>
  <hr />
  KeyboardEvent
  <ul>
    <li>: </li>
    <li>charCode: {{charCode}}</li>
    <li>code: {{code}}</li>
    <li>ctrlKey: {{ctrlKey}}</li>
    <li>keyCode: {{keyCode}}</li>
    <li>keyIdentifier: {{keyIdentifier}}</li>
    <li>metaKey: {{metaKey}}</li>
    <li>shiftKey: {{shiftKey}}</li>
    <li>timeStamp: {{timeStamp}}</li>
    <li>type: {{type}}</li>
    <li>which: {{which}}</li>
  </ul>
